body{
    background-color: #fff;
}
.font1{
    font-family: Maven Pro !important;
}
.font2{
    font-family: Poppins !important;
}
.header{
    padding-top: 2vh;
    color: #50267f;
}
#session-details{
    border: 1px solid lightgray;
    padding: 15px 0 0px 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 2rem;
}
button {
    display: inline-block;
    min-width: 120px;
    text-align: center;
    padding: 1.125rem 2.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    background-color: #f55b5c;
    border-radius: 2rem;
    border: none;
    box-shadow: 0 18px 28px 0 rgba(245,91,92,.23);
    transition: all .4s ease;
}
button:disabled{
    display: inline-block;
    min-width: 120px;
    text-align: center;
    padding: 1.125rem 2.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    background-color: lightgray;
    border-radius: 2rem;
    border: none;
    box-shadow: 0 18px 28px 0 lightgray;
    transition: all .4s ease;
}
.center{
    text-align: center;
}
.mid{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    line-height: 60px;
    height: 60px;
}
#seat-count {
    font-size: 30px;
    font-weight: 400;
    color: #f55b5c;
}
.container{
    margin-top: 15vh;
    padding-bottom: 4vh;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
input, select{
    border-radius: 2rem !important;
}
#error{
    color: #50267f;
}